input{
    width: 280px;
    margin: 10px;
    border-radius: 5px;
    height: 20px;
}

.output{
    margin: 30px;
    border: 5px solid blue;
    padding: 10px;
    width: 340px;
    height: 350px;
}
.form{
    border: 5px inset red;
 margin: 30px;
    border-radius: 15px;
    width:340px;
    padding: 20px;
    margin-left: 300px;
}
.main{
    display: flex;
    margin: 20px;
    background-color:rgb(212,210,212);
    padding: 20px;
    
}
span{
    color:red;
    font-weight: bold;
    font-size: 26px;
}